<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Article Form</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <header class="flex">
            <a href="/">
                <h2 class="brand">Home</h2>
            </a>
            <nav>
                <a href="/articles">
                    <button class="btn-green">Articles</button>
                </a>
            </nav>
        </header>
        <main>
            <h1 class="heading">Edit Article</h1>
            <form action="/articles/<%= article._id %>" method="post" class="form">
                <input type="text" name="title" placeholder="Enter Title" value="<%= article.title %>">
                <textarea name="description" rows="4" placeholder="Enter Description"><%= article.description%></textarea>
                <button type="submit" class="btn-blue">Update Article</button>
            </form>
        </main>
    </div>
</body>
</html>